
/node_modules/
.DS_Store
/.eslintcache
/.stylelintcache

/wp-admin/
/wp-includes/
/*.php
/*.txt
/*.html
/.htaccess

/wp-content/*
!/wp-content/plugins/
!/wp-content/themes/
!/wp-content/uploads/

/wp-content/plugins/*
!/wp-content/plugins/keyo-workspace/

/wp-content/themes/*
!/wp-content/themes/keyo_test/
!/wp-content/themes/keyo_test-child/

**/js/build-garbage.js

!/.gitignore
!/package.json
!/webpack.config.js
!/eslint.config.js
!/.stylelintrc.json
!/phpcs.xml
!/README.md
!/data/